foolbox
scipy>=1.5.4
numpy>=1.19.5
cython>=0.29.5
torch==1.9.0
torchvision==0.10.0
tensorboardX==2.2
tqdm>=4.60.0
setuptools>=39.0.1
matplotlib>=2.1.0
gym>=0.10.4
scikit-build>=0.11.0
scikit_image>=0.13.1
scikit_learn>=0.19.1
opencv-python>=3.4.0.12
pytest>=3.4.0
pandas>=0.23.4
pre-commit

