scipy>=1.1.0
numpy>=1.14.2
torch>=0.4.0
tqdm>=4.19.9
setuptools>=39.0.1
matplotlib>=2.1.0
gym>=0.10.4
scikit_image>=0.13.1
scikit_learn>=0.19.1
opencv-python>=3.4.0.12
sphinx_rtd_theme>=0.4.1
pytest>=3.4.0
cython>=0.28.5
pandas>=0.23.4
https://github.com/jswhit/pyproj/tarball/master#pyproj-1.9.5.2
